*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;

}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(../DOM2\ project2/images/image.png) no-repeat center center/cover;
    height: 100vh;
}
.accordian{
    padding: 30px;
    width: 70%;
    background-color: white;
    border-radius: 20px;
}
.accordian-title{
    background-color: brown;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    color: white;
    margin-bottom: 15px;
}
.content-container{
    align-items: center;
    padding: 15px;
}
.question{
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
}
.answer{
    padding-top: 10px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .5s;

}
.question::after{
    content: '+';
    position: absolute;
    right: -5px
}

/*js styling*/
.active .answer{
    height: 150px;
}
.active .question{
    font-size: 18px;
    transition: .3s;
}

.active .question::after{
    content: '-';
    font-size: ;
}